{% extends 'cms/cms_base.html' %}

{% block title %}
    版块管理
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    <style>
        #add_board_btn{
            float:right;
        }
    </style>
    <script src="{{ static('cms/js/cms_boards.js') }}"></script>
{% endblock %}

{% block main_content %}
    <div class="top_box">
        <button class="btn btn-warning" id="add_board_btn">添加新版块</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>版块名称</td>
                <td>创建者</td>
                <td>创建时间</td>
                <td>帖子数量</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
                <tr>
                    <td>{{ board.name }}</td>
                    <td>{{ board.author.username }}</td>
                    <td>{{ board.create_time }}</td>
                    <td>暂未实现</td>
                    <td>
                        <button class="btn btn-primary btn-xs edit_btn" data-board-id="{{ board.id }}" data-board-name="{{ board.name }}">编辑</button>
                        <button class="btn btn-danger btn-xs delete_btn" data-board-id="{{ board.id }}" data-board-name="{{ board.name }}">删除</button>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}