{% extends 'cms/cms_base.html' %}

{% block title %}
    修改邮箱
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    <script src="{{ static('cms/js/cms_reset_email.js') }}"></script>
{% endblock %}

{% block main_content %}
    <form action="" class="form form_min" method="post">
        <div class="form-group">
            <div class="input-group">
                <input type="email" name="email" id="" class="form-control" placeholder="新邮箱">
                <span class="input-group-addon" id="get_captcha">获取验证码</span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" name="captcha" class="form-control" placeholder="邮箱验证码">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" id="sub" value="立即修改">

        </div>
    </form>
{% endblock %}